ni-ncm-agent (1.3.3-%platform%) %platform%; urgency=medium

  * Update check_bbb_cluster.py
  * Add ubuntu nobel to build
  * Fix error on postinstall

 -- Lukas Spitznagel <lukas.spitznagel@netzint.de>  Thu, 2 Jan 2025 14:41:46 +0200

ni-ncm-agent (1.3.2-%platform%) %platform%; urgency=medium

  * Add check_usb_apc.py

 -- Lukas Spitznagel <lukas.spitznagel@netzint.de>  Thu, 09 Nov 2023 22:39:46 +0200

ni-ncm-agent (1.3.1-%platform%) %platform%; urgency=medium

  * Update proxmox check

 -- Lukas Spitznagel <lukas.spitznagel@netzint.de>  Thu, 09 Nov 2023 22:39:46 +0200

ni-ncm-agent (1.3.0-%platform%) %platform%; urgency=medium

  * Fix problem while installation or update on non docker hosts

 -- Lukas Spitznagel <lukas.spitznagel@netzint.de>  Mon, 23 Jun 2023 22:39:46 +0200

ni-ncm-agent (1.2.9-%platform%) %platform%; urgency=medium

  * Add permission for nagios user on docker socket

 -- Lukas Spitznagel <lukas.spitznagel@netzint.de>  Mon, 13 Mar 2023 09:11:46 +0200

ni-ncm-agent (1.2.8-%platform%) %platform%; urgency=medium

  * update check_docker and add docker permisson to nagios user

 -- Lukas Spitznagel <lukas.spitznagel@netzint.de>  Mon, 13 Mar 2023 09:11:46 +0200

ni-ncm-agent (1.2.7-%platform%) %platform%; urgency=medium

  * update check_docker

 -- Lukas Spitznagel <lukas.spitznagel@netzint.de>  Mon, 13 Mar 2023 09:11:46 +0200

ni-ncm-agent (1.2.6-%platform%) %platform%; urgency=medium

  * 90349a114604c3dc590b36d9be81a49a4977cdb8

 -- Lukas Spitznagel <lukas.spitznagel@netzint.de>  Fri, 22 Jul 2022 09:11:46 +0200

ni-ncm-agent (1.2.5-%platform%) %platform%; urgency=medium

  * aecbfae4ae0e7eee99a3831617427b5b981f7ac3

 -- Lukas Spitznagel <lukas.spitznagel@netzint.de>  Fri, 18 Jul 2022 09:11:46 +0200

ni-ncm-agent (1.2.4-%platform%) %platform%; urgency=medium

  * 8f4be7f997dfc8ad95fd6c62499ac9ef10b800fc

 -- Lukas Spitznagel <lukas.spitznagel@netzint.de>  Fri, 1 Jul 2022 09:11:46 +0200

ni-ncm-agent (1.2.3-%platform%) %platform%; urgency=medium

  * 43b571492dd372fab8f889b77e432b0678670e49

 -- Lukas Spitznagel <lukas.spitznagel@netzint.de>  Wed, 29 Jun 2022 09:11:46 +0200

ni-ncm-agent (1.2.2-%platform%) %platform%; urgency=medium

  * 4d799152178c5fb1fd18930905a9e32c46c808b4
  * 20398bb5f378272a8a4be8c9707c15b888c2b44f

 -- Lukas Spitznagel <lukas.spitznagel@netzint.de>  Thu, 23 May 2022 10:50:46 +0200

ni-ncm-agent (1.2.1-%platform%) %platform%; urgency=medium

  * Edit mistake in pbs plugin

 -- Lukas Spitznagel <lukas.spitznagel@netzint.de>  Thu, 3 Mar 2022 16:44:46 +0200

ni-ncm-agent (1.2.0-%platform%) %platform%; urgency=medium

  * Edit mistake in pbs plugin

 -- Lukas Spitznagel <lukas.spitznagel@netzint.de>  Wed, 2 Mar 2022 16:12:46 +0200

ni-ncm-agent (1.1.9-%platform%) %platform%; urgency=medium

  * Add pbs plugin

 -- Lukas Spitznagel <lukas.spitznagel@netzint.de>  Wed, 2 Mar 2022 16:12:46 +0200

ni-ncm-agent (1.1.8-%platform%) %platform%; urgency=medium

  * Add missing line at the end

 -- Lukas Spitznagel <lukas.spitznagel@netzint.de>  Thu, 2 Mar 2022 09:31:46 +0200

ni-ncm-agent (1.1.7-%platform%) %platform%; urgency=medium

  * Change proxmox plugin
  * Edit sudoers and preinstall file

 -- Lukas Spitznagel <lukas.spitznagel@netzint.de>  Thu, 2 Mar 2022 09:09:46 +0200

ni-ncm-agent (1.1.6-%platform%) %platform%; urgency=medium

  * Change docker and proxmox plugin

 -- Lukas Spitznagel <lukas.spitznagel@netzint.de>  Wed, 29 Dec 2021 13:29:46 +0200

ni-ncm-agent (1.1.5-%platform%) %platform%; urgency=medium

  * Add buster to build

 -- Lukas Spitznagel <lukas.spitznagel@netzint.de>  Wed, 29 Dec 2021 10:15:46 +0200

ni-ncm-agent (1.1.4-%platform%) %platform%; urgency=medium

  * Update preinstaller

 -- Lukas Spitznagel <lukas.spitznagel@netzint.de>  Tue, 28 Dec 2021 14:59:46 +0200

ni-ncm-agent (1.1.3-%platform%) %platform%; urgency=medium

  * Update preinstaller

 -- Lukas Spitznagel <lukas.spitznagel@netzint.de>  Tue, 28 Dec 2021 14:43:46 +0200

ni-ncm-agent (1.1.2-%platform%) %platform%; urgency=medium

  * Update preinstaller for multiuse with debian and ubuntu

 -- Lukas Spitznagel <lukas.spitznagel@netzint.de>  Tue, 28 Dec 2021 14:28:46 +0200

ni-ncm-agent (1.1.1-%platform%) %platform%; urgency=medium

  * Update proxmox check

 -- Lukas Spitznagel <lukas.spitznagel@netzint.de>  Tue, 28 Dec 2021 12:26:46 +0200

ni-ncm-agent (1.1.0-%platform%) %platform%; urgency=medium

  * Add bullseye and update check_proxmox

 -- Lukas Spitznagel <lukas.spitznagel@netzint.de>  Mon, 11 Oct 2021 14:53:46 +0200

ni-ncm-agent (1.0.9-%platform%) %platform%; urgency=medium

  * Test 1

 -- Lukas Spitznagel <lukas.spitznagel@netzint.de>  Wed, 22 Aug 2021 16:00:46 +0200

ni-ncm-agent (1.0.8-focal) focal; urgency=medium

  * Test focal

 -- Lukas Spitznagel <lukas.spitznagel@netzint.de>  Wed, 22 Aug 2021 16:00:46 +0200

ni-ncm-agent (1.0.7-0) focal; urgency=medium

  * Test

 -- Lukas Spitznagel <lukas.spitznagel@netzint.de>  Wed, 22 Aug 2021 16:00:46 +0200

ni-ncm-agent (1.0.6-0) focal; urgency=medium

  * Update to focal

 -- Lukas Spitznagel <lukas.spitznagel@netzint.de>  Wed, 22 Aug 2021 16:00:46 +0200

ni-ncm-agent (1.0.5-0) bionic; urgency=medium

  * bump

 -- Lukas Spitznagel <lukas.spitznagel@netzint.de>  Mon, 16 Aug 2021 16:00:46 +0200

ni-ncm-agent (1.0.4-0) bionic; urgency=medium

  * Update all

 -- Lukas Spitznagel <lukas.spitznagel@netzint.de>  Mon, 10 May 2021 11:43:46 +0200

ni-ncm-agent (1.0.3-0) bionic; urgency=medium

  * Update all

 -- Lukas Spitznagel <lukas.spitznagel@netzint.de>  Mon, 10 May 2021 11:07:46 +0200

ni-ncm-agent (1.0.2-0) bionic; urgency=medium

  * Update all

 -- Lukas Spitznagel <lukas.spitznagel@netzint.de>  Fri, 12 Feb 2021 11:07:46 +0200

ni-ncm-agent (1.0.1-0) bionic; urgency=medium

  * Update installer and add depencies

 -- Lukas Spitznagel <lukas.spitznagel@netzint.de>  Fri, 05 Feb 2021 15:42:46 +0200

ni-ncm-agent (1.0.0-8) bionic; urgency=medium

  * Update preinstaller

 -- Lukas Spitznagel <lukas.spitznagel@netzint.de>  Tue, 12 Jan 2021 12:49:46 +0200

ni-ncm-agent (1.0.0-7) bionic; urgency=medium

  * Update preinstaller

 -- Lukas Spitznagel <lukas.spitznagel@netzint.de>  Thu, 02 Dec 2020 11:47:46 +0200

ni-ncm-agent (1.0.0-6) bionic; urgency=medium

  * Update preinstaller

 -- Lukas Spitznagel <lukas.spitznagel@netzint.de>  Thu, 22 Oct 2020 15:13:46 +0200

ni-ncm-agent (1.0.0-5) bionic; urgency=medium

  * Update configscript and preinstaller

 -- Lukas Spitznagel <lukas.spitznagel@netzint.de>  Wed, 02 Sep 2020 13:20:46 +0200

ni-ncm-agent (1.0.0-4) bionic; urgency=medium

  * Add sepsesam plugin for ncb

 -- Lukas Spitznagel <lukas.spitznagel@netzint.de>  Tue, 09 Jun 2020 11:42:28 +0200

ni-ncm-agent (1.0.0-3) bionic; urgency=medium

  * Remove some bugs

 -- Lukas Spitznagel <lukas.spitznagel@netzint.de>  Tue, 18 May 2020 16:57:27 +0200

ni-ncm-agent (1.0.0-2) bionic; urgency=medium

  * Change icinga installation

 -- Lukas Spitznagel <lukas.spitznagel@netzint.de>  Tue, 18 May 2020 15:03:13 +0200

ni-ncm-agent (1.0.0-1) bionic; urgency=medium

  * Change depencies

 -- Lukas Spitznagel <lukas.spitznagel@netzint.de>  Tue, 18 May 2020 14:55:10 +0200

ni-ncm-agent (1.0.0-0) bionic; urgency=medium

  * Initial build with new name

 -- Lukas Spitznagel <lukas.spitznagel@netzint.de>  Tue, 12 May 2020 16:59:06 +0200
